---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { getPostsByLang, isLang, LANGS, ui } from "@/i18n";

export function getStaticPaths() {
  return LANGS.map(lang => ({ params: { lang } }));
}

const lang = isLang(Astro.params.lang) ? Astro.params.lang : "en";
const t = ui[lang];

const posts = await getCollection("blog");

let tags = getUniqueTags(getPostsByLang(posts, lang));
---

<Layout title={`${t.tagsTitle} | ${t.siteTitle}`} description={t.siteDesc}>
  <Header />
  <Main pageTitle={t.tagsTitle} pageDesc={t.tagsDesc}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
